.team {
  padding: 50px 0;
}

.team__title {
  text-align: center;

}

.team__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.team__item {
  position: relative;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.team__title {


}

.team__circle {
  position: relative;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  pointer-events: none;
}

.team__btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: var(--violet-50);
  border-radius: 50%;
  border: 3px solid var(--violet-700);
}

.team__delete {
  cursor: pointer;
  pointer-events: all;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  padding: 2px;
  width: 10px;
  height: 10px;
  width: 28px;
  height: 22px;
  background-image: url(/src/assets/cross.svg);
  background-size: cover;
  background-position: center;

}

.team__img {
  /* height: 100%;
  width: 100%; */
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.team__name {
  font-size: 28px;
}

.team__create {
  position: absolute;
  inset: 0;
}