.game__time {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  font-size: 35px;
}

.game__container {
  color: white;
}
.game__cards {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.game__card {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 35px;
  border: 4px solid white;
  z-index: 99;
  background-color: var(--violet-400);
}

.game__buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.game__button {
  padding: 15px;
  font-size: 35px;
  cursor: pointer;
}
/* 
.card-next {
  position: absolute;
  width: 50%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 35px;
  border: 4px solid white;
  z-index: 50;
  background-color: var(--violet-400);
} */