.edit {
  padding: 50px 0;
}


.edit input {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 28px;
  color: var(--violet-700);
}

.edit input::placeholder {
  font-size: 28px;
  color: var(--violet-700);
}

.edit__field-wrapper {
  margin-bottom: 25px;
}

.edit label {
  display: block;
  font-size: 32px;
  margin-bottom: 15px;
}

.edit__inner {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.edit input:focus {
  outline: 4px solid var(--violet-700);
  box-shadow: 0 0 5px var(--violet-700);
  
}

.edit__add {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
}

.edit__person {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--violet-500);
  border-radius: 10px;
  padding: 15px;
}

.edit__person-name {
  font-size: 25px;
  color: white;

}

.edit__list {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.edit__person-delete {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.edit__color-title {
  margin-bottom: 25px;
}

.edit__color {
  margin-bottom: 50px;
}

.edit__color-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.edit__color-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-item__circle {
  width: 65px;
  height: 65px;
  border: 4px solid var(--violet-400);
  box-shadow: 4px 8px 45px 4px rgba(255,247,247,0.4);
  border-radius: 50%;
}

.edit__color-item--active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
  border-radius: 50%;
}

.edit__color-item--active .edit-item__circle {
  border: 4px solid rgb(182, 154, 170);
}



@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--violet-700);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.edit-item__color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.edit-item__color--pink {
  background-color: #c960be;
}

.edit-item__color--green {
  background-color: rgb(71, 251, 71);
}

.edit-item__color--red {
  background-color: rgb(251, 56, 34);
}

.edit-item__color--purple {
  background-color: rgb(140 22 186);
}

.edit-item__color--blue {
  background-color: rgb(25, 132, 246);
}

.edit-item__color--yellow {
  background-color: rgb(207, 244, 0);
}

.edit__avatar-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.edit__avatar-title {
  margin-bottom: 25px;
}

.edit__avatar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__avatar-item--active {
  transform: scale(1);
	animation: pulse 2s infinite;
  border-radius: 50%;
}

.edit__avatar-circle {
  width: 85px;
  height: 85px;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 4px 8px 45px 4px rgba(255,247,247,0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__avatar-image {
  width: 100%;
  height: 100%;
}